{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block styles%}
{{ super() }}

<link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">
{% endblock %}

{% block content %}
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    <div class="container">

        {{wtf.quick_form(comment_form)}}

    </div>

    {% for comment in comment %}

    <p>{{ comment.comment }}</p>
    <a href="{{ url_for('main.delete_comment',id=comment.id)}}" style="margin-left: 10px;;" class="text-danger" title="Delete Post">
        <small><i class="fa fa-trash"></i></small>
    <a href="{{ url_for('main.delete_comment', id=comment.id)}}"><button class="btn-success">Delete Comment</button></a>

    {% endfor %}
{% endblock %}